<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="css/home.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta charset="UTF-8">
</head>
<body>
<header>
    <div class="navbar">
        <div class="logo"><a href="#">TBTCHS</a></div>
        <div class="toggle-btn">
            <img src="/images/menu.png" alt="menu">
        </div>
        <div class="dropdown-menu">
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#" class="dialog-btn">Get a Quote</a></li>
                <li><a href="#contactus">Contact Us</a></li>
                <li><a href="#" class="action-btn">Get Started</a></li>
            </ul>
        </div>
    </div>
</header>

<div class="home-content">
    <div class="home-title">
        <h1>Hi, My name is Breno. &#128075</h1>
        <h1>Current student, programming enthusiast.</h1>
        <div class="text-under-title">
            <p>Want to check out some of my coding journey path? Click on the hyperlink below.</p>
            <a class="learn-more" href="#about">Learn more.</a>
        </div>
    </div>
</div>

<div class="about-section" id="about">
    <div class="about-section-text">
        <p>My name is Breno Tebet, a passionate student from Brazil,</p>
        <p>avid programmer, and a lifelong learner.</p>
        <p>By no means I am an expert, however, I am continuously expanding my</p>
        <p>knowledge and skills in the ever-evolving world of programming!</p>
    </div>
    <div class="languages-container">
        <h1 class="tech-text">Ongoing Tech Stack </h1>
        <img src="images/css.png">
        <img src="images/html.png">
        <img src="images/js.png">
        <img src="images/cpp.png">
      </div>
</div>
<div class="portifolio-container">
    <h1>Portfolio </h1>
    <div class="portifolio-title">
        <img src="images/ocacwebsite.jpg" alt="ocac">
        <div class="text-box">
            <h2>OCAC Website</h2>
            <p>Orange County Aquatic Conference is a aquatics club</p>
            <p>that provides lessons and runs different teams,</p>
            <p>this project envolves login systems, payments, and</p>
            <p>many other functionalities such as booking classes.</p>
        </div>
    </div>
</div>

    <dialog class="dialog-inputs" id="dialog-inputs">
        <div class="dialog-container">
            <h1>Let me know! &#128187</h1>
            <img src="images/x.png" alt="x" id="closing-btn">
        </div>
        <p>Write me an email that explains what would you like from me,</p>
        <p>I could develop your own website using methods I am learning daily.<p>
        <p>Any tips you think it would be useful for my coding adventures are welcome as well!</p>
        <form action="/submit" method="post">
            <input type="text" name="fullName" class="name-input" placeholder="Full Name" required>
            <input type="email" name="email" class="email-input" placeholder="Email" required>
            <input type="text" name="content" class="description-input" placeholder="Share your thoughts..." required>
            <button class="submit-btn" type="submit">Submit</button>  
        </form>
    </dialog>

<footer>
    <div class="contact-me-container" id="contactus">
        <h1>Don't be shy, contact me &#128513</h1>
        <h2>I am always looking for opportunities to learn and work.<h2>
            <div class="contact-options">
                <h2>Here's how you can reach out: </h2>
                    <a href="https://www.linkedin.com/in/breno-tebet-93615120b/">
                        <img src="images/linkedIn.png" alt="linkedIn">
                    </a>
                    <a href="https://github.com/brenotebet">
                        <img src="images/github.png" alt="github">
                    </a> 
            </div>
    </div>
</footer>
<script src="dropdown-menu.js"></script> 
</body>
</html>
